{% extends "partials/admin_base.html" %}

{% block title %}Add Product Offer{% endblock %}

{% block content %}
<div class="container my-5">
  <h2>Add Product Offer</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="error">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
