.card {
  border-radius: 12px;
  background-color: #f9f9f9;
}

.card-body img {
  display: block;
  margin: 0 auto;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  font-size: 18px;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
